@model OroPuro.Models.LogInModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oro Puro</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("paginaConst", "Home")' class="logo">
                    <img src='@Url.Content("~/img/logoOroPuro.png")' width="130" height="130" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="col-md-1 login">
                    <a class="btn btn-primary" href="@Url.Action("AdminPanel", "Usuarios")">Acceso</a>
                </div>                 
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Sitio Web OroPuro&reg; Hermosillo, Son</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
